<!doctype html>
<title>{% block title %}{% endblock %} - MakersCamp</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index.home') }}"><img src="../static/images/makerscamp.jpg"></a></h1>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('auth.logout') }}">LOG OUT
        
      </a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">REGISTER</a>
      <li><a href="{{ url_for('auth.login') }}">LOG IN</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
