<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>
{% extends 'base.html' %}

<h1>{% block title %}Channles{% endblock %}</h1>
<br>
<a class="action" href="{{ url_for('index.new_channel') }}">New Channel</a><br>
<br>

{% block content %}
  <div class="flex-container">

    <div class="flex-child magenta">
      <h1>Channels: <a class="action" href="{{ url_for('index.new_channel') }}">New Channel</a><br></h1>
      {% for channel in chs %}
        <a class="action" href="{{ url_for('index.channels', channel_id=channel.id) }}">{{channel.name}}</a><br>
      {% endfor %}
    </div>
    
    <div class="flex-child green">
      <h1>Messages:</h1>
      <div class="message_scroll">
        {% if channel_id == 0 %}
          Select a channel
        {% else %}
          {% for message in messages %}
            {{ message[0] }}:<br>
            {{ message[1] }}<br>
            <br>
          {% endfor %}
        {% endif %}
      </div>
      <form action="/post_message" method="post">
        <input type="hidden" name="channel_id" value={{channel_id}}>
        <input type="text" name="message">
        <input type="submit">
      </form>
    </div>
    
  </div>

{% endblock %}

