{% extends 'base.html' %}

<h1>{% block title %}Channles{% endblock %}</h1>
<br>
<a class="action" href="{{ url_for('index.new_channel') }}">New Channel</a><br>
<br>

{% block content %}
  <div class="flex-container">

    <div class="flex-child magenta">
      <h1>Channels: <a class="action" href="{{ url_for('index.new_channel') }}">New Channel</a><br></h1>
      <form action="/join_channel" method="post">
        Join a room:
        <select name="channel_id">
          {% for channel in all_channels %}
            <option value={{channel.id}}> {{channel.name}} </option>
          {% endfor %}
        </select>
        <input type="submit">
      </form>
      {% for channel in chs %}
        <a class="action" href="{{ url_for('index.channels', channel_id=channel.id) }}">{{channel.name}}</a><br>
      {% endfor %}
    </div>
    
    <div class="flex-child green">
      <h1>Messages:</h1>
      <div class="message_scroll">
        {% if channel_id == 0 %}
          Select a channel
        {% else %}
          {% for message in messages %}
            {{ message[0] }}:<br>
            {{ message[1] }}<br>
            <br>
          {% endfor %}
        {% endif %}
      </div>
      <form action="/post_message" method="post">
        <input type="hidden" name="channel_id" value={{channel_id}}>
        <input type="text" name="message">
        <input type="submit">
      </form>
    </div>
    
  </div>

{% endblock %}

