html {
  font-family: 'Roboto', sans-serif;
  background-color: #DAB88B;
  background-image: linear-gradient(43deg, #DAB88B 0%, #F3E9DD 46%, #DAB88B 100%);
  background-repeat: no-repeat;
  padding: 1rem;
}

body {
  max-width: 1060px;
  margin: 0 auto;
  background: #eec58f;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #c25e00;
  margin: 1rem 0;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #c25e00;
  font-size: 20px;
  text-decoration: none;
  padding-right: 10px ;
}

nav img{
  width: 300px;
  height: 100px;
}

hr {
  border: none;
  border-top: 1px solid rgb(70, 70, 70);
}

nav {
  background:#4b3314 ;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}


.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #7a7a7a;
  border: 1px solid #c25e00;
}

.post > header {
  background: rgb(51, 51, 51);
  color: #c25e00;
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .footer {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post .about {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.post .body {
  color: rgb(255, 255, 255);
  font-style: italic;
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  color: rgb(255, 255, 255);
  font-style: italic;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
  color:#c25e00;
}

.content input, .content textarea {
  background:#DAB88B;
  color: #c25e00;
  font-style: bold;
  font-size: 17px;
  margin-bottom: 1em;
  border: 2px solid #c25e00;
  height: 30px;
}

.content textarea {
  color: #cc2f2e;
  font-style: italic;
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  color: #c25e00;
  align-self: start;
  min-width: 10em;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

button {
  color: #c25e00;
  background-color: #7a5d38;
  align-self: start;
  min-width: 10em;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.profile_picture {
  float: left;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}
.profile_page_picture {
  width: 200px;
  height: auto;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 5px;
}

.post_photo {
  background: rgb(51, 51, 51);
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-top: 5px;
}

.post .comment {
  color: rgb(255, 255, 255);
  font-style: italic;
}

body .about {
  color: rgb(255, 255, 255);
  font-style: italic;
}

.flex-container {
  display: flex;
}

.flex-child {
  border: 2px solid white;
}  

.flex-child:first-child {
  margin-right: 10px;
  width: 30%;
  background-color: #dd4b4872;
  text-align: center;
  
} 

.flex-child:first-child h1 a{
  /* border-bottom: 2px solid #cc2f2e; */
  margin-top: 30px;
}

.flex-child:first-child input{
  margin-left: auto;
  margin-right: auto;
}

 .channel-list {
  width: 100%;
  list-style: none;
}

 .channel-list ul {
  list-style: none;
  width: 100%;

}

.channel-list li{
  margin-left: -40px;
  width: 100%;
  border-top: 2px solid #cc2f2e;
  border-bottom: 2px solid #cc2f2e;
  padding: 5px 0;
  margin-top: -18px;
  background-color:#bbbfc4 ;
}


.flex-child:first-child select{
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #b15959;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: none;
  
}

.flex-child.green{
  width: 70%;
}


.message_scroll {
  height:450px;
  width:90%; 
  border:1px solid #ccc;
  overflow:auto;
  display: flex;
  flex-direction: column-reverse; 
}


.message_scroll ul li {
  background-color: #c25e00;
  list-style: none ;
  padding: 8px 10px;
  width: 90%;
  border-radius: 20px;
  
}

